@font-face {
  font-family: 'mp3-zing';
  src: url(../fonts/mp3-zing.eot);
  src: url(../fonts/mp3-zing.eot) format('embedded-opentype'),
    url(../fonts/mp3-zing.woff) format('woff'),
    url(../fonts/mp3-zing.ttf) format('truetype'),
    url(../fonts/mp3-zing.svg) format('svg');
  font-weight: 400;
  font-style: normal;
}