.pad-t-0 {
  padding-top: 0 !important;
}

.pad-t-5 {
  padding-top: 5px !important;
}

.pad-t-10 {
  padding-top: 10px !important;
}

.pad-t-15 {
  padding-top: 15px !important;
}

.pad-t-20 {
  padding-top: 20px !important;
}

.pad-t-25 {
  padding-top: 25px !important;
}

.pad-t-30 {
  padding-top: 30px !important;
}

.pad-t-40 {
  padding-top: 40px !important;
}

.pad-t-45 {
  padding-top: 45px !important;
}

.pad-t-50 {
  padding-top: 50px !important;
}

.pad-t-250 {
  padding-top: 250px !important;
}

.pad-t-300 {
  padding-top: 300px !important;
}

.pad-t-320 {
  padding-top: 320px !important;
}

.pad-r-0 {
  padding-right: 0 !important;
}

.pad-r-5 {
  padding-right: 5px !important;
}

.pad-r-15 {
  padding-right: 15px !important;
}

.pad-r-20 {
  padding-right: 20px !important;
}

.pad-r-30 {
  padding-right: 30px !important;
}

.pad-b-0 {
  padding-bottom: 0 !important;
}

.pad-b-5 {
  padding-bottom: 5 !important;
}

.pad-b-10 {
  padding-bottom: 10px !important;
}

.pad-b-15 {
  padding-bottom: 15px !important;
}

.pad-b-20 {
  padding-bottom: 20px !important;
}

.pad-b-25 {
  padding-bottom: 25px !important;
}

.pad-b-30 {
  padding-bottom: 30px !important;
}

.pad-b-40 {
  padding-bottom: 40px !important;
}

.pad-b-50 {
  padding-bottom: 50px !important;
}

.pad-b-60 {
  padding-bottom: 60px !important;
}

.pad-b-70 {
  padding-bottom: 70px !important;
}

.pad-b-175 {
  padding-bottom: 175px !important;
}

.pad-b-350 {
  padding-bottom: 350px !important;
}

.pad-l-0 {
  padding-left: 0 !important;
}

.pad-l-5 {
  padding-left: 5px !important;
}

.pad-l-10 {
  padding-left: 10px !important;
}

.pad-l-15 {
  padding-left: 15px !important;
}

.pad-l-20 {
  padding-left: 20px !important;
}

.pad-l-30 {
  padding-left: 30px !important;
}

.pad-0 {
  padding: 0 !important;
}

.pad-10 {
  padding: 10px !important;
}

.pad-20 {
  padding: 20px !important;
}

.pad-30 {
  padding: 30px !important;
}

.mar-t-0 {
  margin-top: 0 !important;
}

.mar-t-5 {
  margin-top: 5px !important;
}

.mar-t-10 {
  margin-top: 10px !important;
}

.mar-t-15 {
  margin-top: 15px !important;
}

.mar-t-20 {
  margin-top: 20px !important;
}

.mar-t-25 {
  margin-top: 25px !important;
}

.mar-t-30 {
  margin-top: 30px !important;
}

.mar-t-35 {
  margin-top: 35px !important;
}

.mar-t-40 {
  margin-top: 40px !important;
}

.mar-t-50 {
  margin-top: 50px !important;
}

.mar-l-0 {
  margin-left: 0 !important;
}

.mar-l-5 {
  margin-left: 5px !important;
}

.mar-l-10 {
  margin-left: 10px !important;
}

.mar-l-15 {
  margin-left: 15px !important;
}

.mar-l-20 {
  margin-left: 20px !important;
}

.mar-l-25 {
  margin-left: 25px !important;
}

.mar-r-0 {
  margin-right: 0 !important;
}

.mar-r-5 {
  margin-right: 5px !important;
}

.mar-r-10 {
  margin-right: 10px !important;
}

.mar-r-15 {
  margin-right: 15px !important;
}

.mar-r-20 {
  margin-right: 20px !important;
}

.mar-r-30 {
  margin-right: 30px !important;
}

.mar-r-50 {
  margin-right: 50px !important;
}

.mar-b-0 {
  margin-bottom: 0 !important;
}

.mar-b-10 {
  margin-bottom: 10px !important;
}

.mar-b-15 {
  margin-bottom: 15px !important;
}

.mar-b-20 {
  margin-bottom: 20px !important;
}

.mar-b-25 {
  margin-bottom: 25px !important;
}

.mar-b-30 {
  margin-bottom: 30px !important;
}

.mar-b-35 {
  margin-bottom: 35px !important;
}

.mar-b-40 {
  margin-bottom: 40px !important;
}

.mar-b-50 {
  margin-bottom: 50px !important;
}

.mar-0 {
  margin: 0 !important;
}

.is-fullwidth {
  width: 100%;
}

.is-flash {
  background-color: var(--alpha-bg);
  -webkit-animation: frameOpacity 1s linear;
  animation: frameOpacity 1s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.is-120x120 {
  width: 120px;
  height: 120px;
}

.is-170x170 {
  width: 170px;
  height: 170px;
}

.is-190x190 {
  width: 190px;
  height: 190px;
}

.is-210x118 {
  width: 210px;
  height: 118px;
}

.is-290x290 {
  width: 290px;
  height: 290px;
}

.is-95x95 {
  width: 95px;
  height: 95px;
}

.is-80x80 {
  width: 80px;
  height: 80px;
}

.is-60x60 {
  width: 60px;
  height: 60px;
}

/* .is-50x50 {
  width: 50px;
  height: 50px
} */

.is-46x46 {
  width: 46px;
  height: 46px;
}

.is-40x40 {
  width: 40px;
  height: 40px;
}

.is-38x38 {
  width: 38px;
  height: 38px;
}

.is-20x20 {
  width: 20px;
  height: 20px;
}

.is-w-290 {
  width: 290px;
}

.is-w-210 {
  width: 210px;
}

.is-w-250 {
  width: 250px;
}

.is-w-190 {
  width: 190px;
}

.is-w-150 {
  width: 150px;
}

.is-w-140 {
  width: 140px;
}

.is-w-107 {
  width: 107px;
}

.circle {
  border-radius: 999px !important;
}

.margin-x-9_5 {
  margin: 0 -9.5px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}
